<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gospel.bethany.bgh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".BGHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_notify"
        android:label="@string/bethany"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarCustom"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.tap.TapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.createTap.CreateTapActivity" />

        <service android:name=".service.FirebaseNotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.eventcalendar.EventCalendarActivity" />
        <activity
            android:name=".activities.createEvent.CreateEventActivity"
            android:label="@string/title_activity_create_event"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.dump.sermon.SermonActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="dm.audiostreamer.AudioStreamingService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="dm.audiostreamer.AudioStreamingReceiver">
            <intent-filter>
                <action android:name="dm.audiostreamer.close" />
                <action android:name="dm.audiostreamer.pause" />
                <action android:name="dm.audiostreamer.next" />
                <action android:name="dm.audiostreamer.play" />
                <action android:name="dm.audiostreamer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.sermon.SermonPlayerActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
    </application>

</manifest>